body.extension-popup-body {
    padding: 10px;
    background-color: azure;
    width: 400px;
}

.extension-popup-body header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.extension-popup-body .main-btn {
    background-color: rgb(81, 165, 78);
    padding: 10px;
    border-radius: 20px;
    margin: 15px 0;
    color: white;
    font-size: 1.2em;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 4px 3px 15px -4px rgba(0, 0, 0, 0.75);

}

.font-name-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.extension-popup-body .saved-font{
    background-color: rgba(0, 0, 0, 0.25);
    padding: 5px;
    margin-bottom: 5px;
    cursor: pointer;
}

.extension-popup-body .saved-font:hover{
    background-color: rgba(68, 231, 79, 0.25);
}

.extension-popup-body .saved-font .title-bar{
    display: flex;
}

.extension-popup-body .saved-font .title-bar h3{
    margin-right: auto;
}

.extension-popup-body .saved-font .command{
    margin-left: 5px;
    cursor: pointer;
    padding:3px;
    border-radius: 50%;
}

.extension-popup-body .saved-font .command:hover{
    transform:scale(1.1);
    transition: all 0.2s ease;
}

.extension-popup-body .saved-font .properties.hidden{
    display: none;
}

.extension-popup-body .font-inspect-container .edit-btn{
    background-color: rgb(81, 165, 78);
    padding: 0.5em;
    margin:0.5em 0;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    width: fit-content;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.extension-popup-body .font-inspect-container .color-box{
    border: 1px solid black;
    width: 10em;
    height: 1em;
}

.extension-popup-body .font-inspect-container .no-edit-div > *, .extension-popup-body .font-inspect-container .edit-div > *{
    margin-bottom: 3px;

}

.saved-font .hidden{
    display: none;
}